* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    justify-content: center;
}
.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

.title p {
    font-size: 2rem;
}
.buttons {
    padding: 1rem 1rem;
}

.currentReservation {
    border: solid 2px black;
    padding: 0 0;
    margin: 0 0 ;
}
.reservationContainer, .waitListContainer
 {
    border: solid 2px black;
    margin: 1rem;
}
.reservationDetails {
    font-size: 2rem;
}